.aboutUsContainer {
    max-width: 100%;
    padding: 2rem 1rem;
    background-color: #f4f4f4;
    padding-top: 100px;

}

.aboutUsInner {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.aboutUsContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.aboutUsText h1,
.aboutUsText p {
    margin: 0;
}

.aboutUsTitle {
    font-weight: 700;
    font-size: 2.5rem;
    color: #003366;
    margin-bottom: 0.5rem;
}

.aboutUsDescription {
    font-weight: 400;
    font-size: 1.125rem;
    color: #555555;
    max-width: 600px;
}

.aboutUsTeamImgWrap {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 0.5rem;
}

.aboutUsTeamImg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .aboutUsContent {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        text-align: left;
    }
}
