/* FirstSection.css */

.section-container {
    position: relative;
    overflow: hidden;
}

.section-inner {
    max-width: 100%;
    padding-bottom: 20px;
}

.header-bg {
    background-color: #fdc9c9; /* Sample light blue color */
    padding: 8px 5px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media (min-width: 768px) {
    .content-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 24px;
    }
}

.text-content {
    margin-top: 16px;
    text-align: center;
}

.text-content h1 {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 2.5rem;
    line-height: 1.3;
}

.subheading {
    font-size: 1.25rem;
    margin-bottom: 12px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

.image-content figure {
    margin-bottom: -40px; 
}

.image-content img {
    max-width: 15rem;
    height: auto;
}
