.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;  /* Updated from 100vh to 30vh */
    background: linear-gradient(to right, #2c3e50, #4c6375);
    color: #ecf0f1;
    padding: 50px 10px;
    padding-top: 70px;
}
.content-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 40px; 
}

.text-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.subheading {
    font-size: 1.25rem;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
}

.cta-button {
    background-color: #e67e22; 
    color: #fff;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #d35400; 
}

.image-content img {
    max-width: 68%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
    .content-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text-content {
        text-align: left;
    }

    .subheading {
        text-align: left;
    }
}
