/* FooterComponent.css */

.footer {
    background-color: #1a1a1a;
    color: white;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .column {
    flex: 1;
    margin-right: 20px;
  }
  
  .link {
    display: block;
    margin-bottom: 0.5rem;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .link:hover {
    color: #007bff;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 1rem 0;
  }
  
  .additional-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .security-info {
    font-size: 0.875rem;
    max-width: 18rem;
    white-space: pre-line;
  }
  
  .white-bar {
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0.25;
    margin-bottom: 1rem;
  }
  
  .bottom-nav {
    font-size: 0.875rem;
    display: flex;
    
  }
  
  .bottom-link {
    color: #ccc;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
  }
  
  .bottom-link:hover {
    color: white;
  }
  
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }