@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
    position: fixed; /* or position: sticky; */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Ensure it takes full width */
    z-index: 1000; /* Ensures it stays above all other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;  
    background-color: #2c3e50; 
    color: white;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s;
}

.scrolled {
    background-color: #1a252f;
}

.navbar-left h2 {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    margin: 0;
    padding-left: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-item {
    background: none;
    border: none;
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}

.nav-item:hover {
    background-color: #34495e;
    color: #ecf0f1;
}

.nav-item:active {
    background-color: #2c3e50;
}

.nav-item:focus {
    box-shadow: 0 0 0 3px rgba(52, 73, 94, 0.5);
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding-right: 10px;
}



@media (max-width: 950px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-right {
        display: none;
        position: absolute; /* Make it absolute to overlay on top */
        top: 60px; /* Position under the navbar, adjust according to your navbar height */
        left: 0; /* Align to the left */
        flex-direction: column;
        align-items: center;
        width: 100%; /* Full width */
        background-color: #2c3e50; /* Same as your navbar color */
        transition: all 0.3s ease-in-out;
        z-index: 1; /* Ensure it is displayed above other content */
    }
    
    .navbar-right.active {
        display: flex;
    }

    .nav-item {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}
