.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #990000;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left h2 {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;


}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
    background-color: #444;
    color: #ddd;
}

.clickable {
    cursor: pointer;
}

.menu-icon {
    display: none; /* Initially hidden */
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 650px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-right {
        margin-top: 10px;
    }

    .nav-item {
        margin: 5px 0;
    }
    .navbar-right {
        display: none; /* Initially hidden in mobile */
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 100%;
        left: 0;
        background-color: #990000;
        border-top: 2px solid;
        opacity: 0;  /* Initially invisible */
        transform: translateY(-20px);  /* Initially positioned slightly upwards */
        transition: opacity 0.3s, transform 0.3s;  /* Transition effects */
    }

    .navbar-right.active {
        display: flex; /* Show when the hamburger menu is clicked */
        opacity: 1;  /* Fully visible */
        transform: translateY(0);  /* Reset to its default position */
    }

    .menu-icon {
        display: block; /* Show the hamburger icon in mobile */
    }
}
