/* Program.css */


.programs {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding-top: 70px;
}

.programs h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 28px;
}

.programs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program-card {
    flex: 0 0 calc(33.3333% - 10px);
    margin-bottom: 30px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-in-out;
    cursor: pointer; /* Indicates clickability */
    position: relative; /* Allows absolute positioning of children */
}

.program-card:hover {
    transform: translateY(-10px);
}

.program-description {
    position: absolute;
    top: 0;
    left: 0;
    height: 88%;
    background: rgba(0, 0, 0, 0.8); 
    color: white; 
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: opacity 0.3s ease; 
    border-radius: 5px; 
    padding: 20px; 
    overflow-y: auto; /* Allows vertical scrolling */
    font-size: 15px;
}



.program-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.program-card h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    color: #444;
}

.progamp {
    padding: 0 10px;
    color: #777;
    font-size: 16px;
}

.more-info {
    text-align: center;
    margin-top: 30px;
}

.more-info p {
    font-size: 20px;
    color: #444;
}

.more-info button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.more-info button:hover {
    background-color: #0056b3;
}

/* Responsive for smaller devices */
@media only screen and (max-width: 768px) {
    .program-card {
        flex: 0 0 calc(50% - 10px);
    }
}

@media only screen and (max-width: 480px) {
    .program-card {
        flex: 0 0 100%;
    }
}
