.qualification {
  padding: 20px 4%;
  background-color: #fafafa;
  border-radius: 8px;
  max-width: 960px;
  margin: 2rem auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Softened border color for a professional look */
}

.qualification__title h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2c3e50; /* Using a neutral, professional color */
  margin-bottom: 1.5rem;
}

.qualification__criteria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* To provide even spacing between items */
  justify-content: space-around; /* Distribute items evenly */
}

.criteria__item {
  display: flex;
  align-items: center;
  gap: 10px; /* Consistent spacing between image and text */
  margin: 1rem 0;
}

.criteria__item img {
  height: 24px;
  width: 24px;
}

.criteria__item h4 {
  font-size: 1rem;
  color: #7f8c8d; /* Choosing a subtle, professional color */
}
